.panel {
  padding: $panel-padding;
}
.container {
  background-color: $light;
}

.text-white {
  color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-red {
  background-color: $red;
}

.bg-white {
  background-color: $gray-900;
}